apiVersion: operator.open-cluster-management.io/v1
kind: MultiClusterHub
metadata:
{% if deploy_test_env | bool %}
  annotations:
{% for catalog in catalog_sources %}
{% if catalog.type == "mce" %}
    installer.open-cluster-management.io/mce-subscription-spec: '{"source": "{{ catalog.catalog_name }}"}'
{% endif %}
{% endfor %}
    mch-imageRepository: "{{ acm_registry_mirror }}"
{% endif %}
  name: multiclusterhub
  namespace: "{{ acm_namespace }}"
spec:
{% if deploy_test_env | bool %}
  imagePullSecret: multiclusterhub-operator-pull-secret
{% endif %}
  overrides:
    components:
{% for component in acm_components %}
    - name: {{ component.name }}
      enabled: {{ component.enabled }}
{% endfor %}
