apiVersion: operator.open-cluster-management.io/v1
kind: MultiClusterHub
metadata:
{% if deploy_test_env | bool %}
  annotations:
{% for catalog in catalog_sources %}
{% if catalog.type == "mce" %}
    installer.open-cluster-management.io/mce-subscription-spec: '{"source": "{{ catalog.catalog_name }}"}'
{% endif %}
{% endfor %}
    mch-imageRepository: "{{ acm_registry_mirror }}"
{% endif %}
  name: multiclusterhub
  namespace: "{{ acm_namespace }}"
{% if deploy_test_env | bool %}
spec:
  imagePullSecret: multiclusterhub-operator-pull-secret
{% else %}
spec: {}
{% endif %}
