apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    {% if item.skip_tls_verify -%}
    insecure-skip-tls-verify: true
    {% endif -%}
    server: {{ (rosa_cluster_url.stdout | from_json)['api']['url'] }}
  name: {{ item.name }}
users:
- name: {{ item.name }}
  user:
    token: {{ ocp_auth.openshift_auth.api_key }}
contexts:
- context:
    cluster: {{ item.name }}
    namespace: default
    user: {{ item.name }}
  name: {{ item.name }}
current-context: {{ item.name }}
