apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}-0-admin-kubeconfig
  namespace: {{ item.name }}
type: Opaque
data:
  kubeconfig: {{ lookup('file', '{{ item.kubeconfig }}') | b64encode }}
  raw-kubeconfig: {{ lookup('file', '{{ item.kubeconfig }}') | b64encode }}
