{% set creds = clusters_credentials | selectattr('name', 'equalto', item.credentials) | first %}
{% if creds.platform == "aws" %}
[default]
aws_access_key_id = {{ creds.aws_access_key_id }}
aws_secret_access_key = {{ creds.aws_secret_access_key }}
{% elif creds.platform == "gcp" %}
{{ creds.os_service_account_json }}
{% elif creds.platform == "openstack" %}
clouds:
  openstack:
    auth:
      auth_url: {{ creds.auth_url }}
      username: "{{ creds.username }}"
      password: "{{ creds.password }}"
      project_id: "{{ creds.project_id }}"
      project_name: "{{ creds.project_name }}"
      user_domain_name: "{{ creds.domain_name }}"
    region_name: "{{ creds.region_name | default('regionOne') }}"
    interface: "{{ creds.interface | default('public') }}"
    identity_api_version: {{ creds.api_version | default(3) }}
{% endif %}
