apiVersion: v1
baseDomain: {{ item.base_domain }}
compute:
- hyperthreading: Enabled
  name: worker
{% if item.cloud.instance_type is defined %}
  platform:
    {{ item.cloud.platform }}:
      type: {{ item.cloud.instance_type }}
{% else %}
  platform: {}
{% endif %}
  replicas: 3
controlPlane:
  hyperthreading: Enabled
  name: master
{% if item.cloud.instance_type is defined %}
  platform:
    {{ item.cloud.platform }}:
      type: {{ item.cloud.instance_type }}
{% else %}
  platform: {}
{% endif %}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ item.name }}
networking:
  networkType: {{ item.network.type }}
  clusterNetwork:
  - cidr: {{ item.network.cluster }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ item.network.machine }}
  serviceNetwork:
  - {{ item.network.service }}
platform:
{% if item.cloud.platform == "aws" %}
  {{ item.cloud.platform }}:
    region: {{ item.cloud.region }}
{% elif item.cloud.platform == "gcp" %}
  {{ item.cloud.platform }}:
    region: {{ item.cloud.region }}
    projectID: {{ item.cloud.project_id }}
{% elif item.cloud.platform == "openstack" %}
  {{ item.cloud.platform }}:
    cloud: rhacm-automation
    externalNetwork: {{ item.cloud.external_network }}
    apiFloatingIP: {{ item.cloud.api_floating_ip }}
    ingressFloatingIP: {{ item.cloud.ingress_floating_ip }}
{% endif %}
publish: External
{% if item.fips is defined %}
fips: {{ item.fips }}
{% endif %}
pullSecret: '{{ pull_secret }}'
sshKey: |
  {{ ssh_pub_key }}
